body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#reviews {
    margin-top: 20px;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    position: relative;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.review.show {
    opacity: 1;
    transform: translateY(0);
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    border-radius: 3px;
}

.review.hide {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
